<!doctype html>
<html>
  <head>
    <title>Create a work order</title>
    <link rel="stylesheet" href="/static/worksnap.css">
  </head>
  <body>
      <div class="logo-header">
      <h1>WorkSnap</h1>
      </div>

      <div class="content-main">
        <h2>Create a work order</h2>
        <form action="/wo/post/" method="post">
            <p><label for="description">
                Description of work:
            </label></p>
            <p><textarea id="description" name="description"></textarea></p>
            <input type="submit" value="Create work order">
        </form>
      </div>
  </body>
</html>