<!doctype html>
<html>
  <head>
    <title>Worker view for user {{ username }}</title>
    <link rel="stylesheet" href="/static/worksnap.css">
  </head>
  <body>
      <div class="logo-header">
      <h1>WorkSnap</h1>
      </div>

      <div class="content-main">
      <div>
        <h2>Currently assigned to {{ username }}</h2>

        <div class="wo-list">

        {% for wo in currently_assigned %}
          <div class="wo-item">
            <p class="wo-title">{{ wo["description"] }}</p>
            <p class="wo-metadata">WO #{{ wo["woid"] }} created {{ wo["datetime"] }}</p>
            <ul>
              <li class="btn-complete"><a href="/wo/{{ wo["woid"] }}/complete_by/{{ username}}/">Mark complete</a></li>
              <li class="btn-unassign"><a href="/wo/{{ wo["woid"] }}/unassign_from/{{ username}}/">Unassign</a></li>
            </ul>
          </div>
        {% else %}
          <div class="wo-item">
            <p class="placeholder">There are no currently-assigned orders.</p>
          </div>
        {% endfor %}
        </div>
      </div>

      <div>
        <h2>Unassigned &amp; available to {{ username }}</h2>

        <div class="wo-list">
          {% for wo in available %}
            <div class="wo-item">
              <p class="wo-title">{{ wo["description"] }}</p>
              <p class="wo-metadata">WO #{{ wo["woid"] }} created {{ wo["datetime"] }}</p>
              <ul>
                  <li class="btn-take"><a href="/wo/{{ wo["woid"] }}/assign_to/{{ username}}/">Assign to me</a></li>
              </ul>
            </div>
          {% else %}
            <div class="wo-item">
              <p class="placeholder">There are no available work orders.</p>
            </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </body>
</html>